---
- name: set Uri
  set_fact:
    FileUri: "{{ baseuri }}/{{ platform }}/{{ channel }}"


- name: Download Install File
  win_get_url:
    url: "{{ FileUri }}"
    dest: "{{ ansible_env.TEMP }}\\vscode-install.{{ ext }}"

- name: file version installer
  win_file_version: 
    path: "{{ ansible_env.TEMP }}\\vscode-install.{{ ext }}"
  register: installer_fileversion

- name: stat installed file
  win_stat: 
    path: "{{ ansible_env.ProgramFiles }}\\Microsoft VS Code Insiders\\Code - Insiders.exe"
  register: exe_stat

- name: file version installed file
  win_file_version:
    path: "{{ ansible_env.ProgramFiles }}\\Microsoft VS Code Insiders\\Code - Insiders.exe"
  register: exe_fileversion
  when: exe_stat.stat.exists == True

- name: update exe file version
  set_fact:
    exe_productversion: "{{ exe_fileversion.win_file_version.product_version |  replace('-insider','') }}"
    installer_productversion: "{{ installer_fileversion.win_file_version.product_version |  trim }}"


- name: Install visual studio code
  win_shell: |
    $installerPath = "{{ ansible_env.TEMP }}\vscode-install.{{ ext }}"
    $exeArgs = "{{ exeArgs }}"
    Start-Process -Wait $installerPath -ArgumentList $exeArgs
  when: 
  - exe_stat.stat.exists == True
  - exe_productversion is defined
  - exe_productversion != installer_productversion
