---
- name: set Uri
  set_fact:
    FileUri: "{{ baseuri }}/{{ platform }}/{{ channel }}"


- name: Download Install File
  win_get_url:
    url: "{{ FileUri }}"
    dest: "{{ ansible_env.TEMP }}\\vscode-install.{{ ext }}"

- name: Install visual studio code
  win_shell: |
    $installerPath = "{{ ansible_env.TEMP }}\vscode-install.{{ ext }}"
    $exeArgs = "{{ exeArgs }}"
    Start-Process -Wait $installerPath -ArgumentList $exeArgs
