---
- name: Include OS-specific variables.
  include_vars: "{{ ansible_pkg_mgr }}.yml"
  when: ansible_pkg_mgr is defined

- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"
  ignore_errors: yes

- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}-{{ channel }}.yml"
  when: 
   - channel == 'insiders'
   - ansible_os_family != 'Windows'
  ignore_errors: yes


- fail:
    msg: The platform variable must be either win32-x64 or win32
  when: platform != "win32-x64" or platform != "win32"

- fail:
    msg: The channel variable must be either stable or insider
  when: channel != "stable" or channel != "insider"

- include_tasks: "{{ ext }}.yml"



